@model OlympicViewModel
@{ 
    ViewData["Title"] = "Country Details";
}

<h2>Country Details</h2>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item bg-dark text-white">
                <img src="@Url.Content(@Model.Country.FlagImage)" alt="" width=200 height=100/>
                <h3>@Model.Country.CountryName</h3>
            </li>
            <li class="list-group-item bg-dark text-white">
                <h4>Game: @Model.Country.Game.GameName</h4>
            </li>
            <li class="list-group-item bg-dark text-white">
                <h4>Sport: @Model.Country.Sport.SportName</h4>
            </li>
			<li class="list-group-item bg-dark text-white">     @*Builds "add to favorites", returns to home buttons*@
				<form asp-action="Add" method="post">
					<a asp-action="Index" class="btn btn-primary bg-dark text-white"
					   asp-route-game="@Model.ActiveGame"
					   asp-route-sport="@Model.ActiveSport">
						Return to Home Page
					</a>
                    <button type="submit" class="btn btn-primary bg-dark text-white">
                        Add to Favorites
                    </button>
                    <input type="hidden" asp-for="Country.CountryID"/>
                </form>
			</li>
        </ul>
    </div>
</div>
