@model OlympicListViewModel
@{
	ViewData["Title"] = "Favorites";
}

<div class="text-center">
	<h2>My Favorites</h2>
	<form asp-action="Delete" method="post">
		<a asp-action="Index" asp-controller="Home" class="btn btn-primary bg-dark text-white"
		   asp-route-activeGame="@Model.ActiveGame"
		   asp-route-activeSport="@Model.ActiveSport">
			Back to Home Page
		</a>
		<button type="submit" class="btn btn-primary bg-dark text-white">
			Clear Favorites
		</button>
	</form>
</div>

<div class="row">
	<div class="col-8 offset-2">
		<ul class="list-group">
			@foreach (Country country in Model.Countries)
			{
				<li class="list-group-item bg-dark">
					<div class="row">
						<div class="col-sm-4">
							<img src="@Url.Content(country.FlagImage)" alt="" />
						</div>
						<div class="col-sm-4 text-white text-center">
							@country.CountryName
						</div>
						<div class="col-sm-4 text-white text-center">
							@country.Game.GameName @country.Sport.SportName
						</div>
					</div>
				</li>
			}
		</ul>
	</div>
</div>
